# Combinaison des masques avec Pandas

In [10]:
import pandas as pd

df = pd.read_csv('film.csv', converters={"Actors": lambda x: x.strip("[]").split(", ")})

df.head()

,Unnamed: 0,Titre,Titre_original,Annee,Public,Duree,Note,Type,Description,Actors,Country,Langue
0,0,Les Évadés,Original title: The Shawshank Redemption,1994,Tous publics,142.0,9.3,Drama,Two imprisoned men bond over a number of years...,"[Tim Robbins,Morgan Freeman,Bob Gunton,William...",United States,English
1,1,Avengers: Infinity War,NaN,2018,Tous publics,149.0,8.4,"Action,Adventure,Sci-Fi",The Avengers and their allies must be willing ...,"[Robert Downey Jr.,Chris Hemsworth,Mark Ruffal...",United States,English
2,2,WALL·E,NaN,2008,Tous publics,98.0,8.4,"Animation,Adventure,Family","In the distant future, a small waste-collectin...","[Ben Burtt,Elissa Knight,Jeff Garlin,Fred Will...",United States,"English,Hindi"
3,3,Boulevard du Crépuscule,Original title: Sunset Blvd.,1950,Tous publics,110.0,8.4,"Drama,Film-Noir",A screenwriter develops a dangerous relationsh...,"[William Holden,Gloria Swanson,Erich von Stroh...",United States,English
4,4,Django Unchained,NaN,2012,12,165.0,8.4,"Drama,Western","With the help of a German bounty-hunter, a fre...","[Jamie Foxx,Christoph Waltz,Leonardo DiCaprio,...",United States,"English,German,French,Italian"

In [3]:
# Instanciation d'une série (=colonne de pandas)
# Permet de définir une série avec la valeur True dans le cas où vous 
# n'utiliserez pas un champ de recheche sur streamlit
mask_1 = mask_2 = mask_3 = pd.Series(True, index=df.index)

In [4]:
# Instanciation de 3 masques
mask_1 = df['Duree'] > 150
mask_2 = df['Note'] < 9
mask_3 = df['Actors'].str.contains('Morgan Freeman')

In [5]:
# Visualisation d'un masque
mask_1

0      False
1      False
2      False
3      False
4       True
       ...
245     True
246    False
247     True
248     True
249     True
Name: Duree, Length: 250, dtype: bool

In [6]:
# Combinaison de deux masques
mask_1 & mask_3

0      False
1      False
2      False
3      False
4      False
       ...
245    False
246    False
247    False
248    False
249    False
Length: 250, dtype: bool

In [7]:
# Combinaison de trois masques
mask_1 & mask_2 & mask_3

0      False
1      False
2      False
3      False
4      False
       ...
245    False
246    False
247    False
248    False
249    False
Length: 250, dtype: bool

In [8]:
df_test_2 = df[mask_1 & mask_3]